Package: dev.traurige.eneko
Name: Eneko
Depends: firmware (>= 14.0), mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
Conflicts: love.litten.eneko
Version: 1.4
Architecture: iphoneos-arm
Description: Live wallpapers for iOS
Maintainer: Traurige <hello@traurige.dev>
Author: Traurige <hello@traurige.dev>
Section: Tweaks
