<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
                <string>Lock Screen Camera Hook</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@MrGcGamer</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>MrGcGamer</string>
            <key>user</key>
            <string>MrGcGamer</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Duo twitter cell by</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@arm64e</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>kritanta</string>
            <key>user</key>
            <string>arm64e</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@MrGcGamer</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>MrGcGamer</string>
            <key>user</key>
            <string>MrGcGamer</string>
        </dict>

	</array>
	<key>title</key>
	<string>Eneko</string>
</dict>
</plist>
